hr {
    border: 1px solid #6f4a8e;
}

body {
    /* background-image: url("../images/bg.Jpg"); */
    background-color: #382933;
    color: #ff2e63;
}

#addcontainer {
    width: 50%;
    display: block;
    margin: 50px auto;
}

#allcontainer {
    display: none;
    margin-top: 20px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#footer {
    position: fixed;
    bottom: 0px;
    margin: auto 20px;
}